---
import SectionTitle from "@/components/section-title.astro";
---

<article class="flex flex-col spacing-md">
  <SectionTitle text="About" />

  <div class="flex flex-col spacing-xs">
    <p>
      I'm a full-stack engineer focused on speed and building scalable, reliable
      products across complex systems and evolving requirements.
    </p>
    <p>
      I can take responsibilities across frontend, backend, infrastructure, and
      delivery while collaborating with engineering teams, and clients to turn
      ideas into polished products. While I work across the full stack, I
      specialize in frontend engineering, crafting intuitive, high-performance
      experiences with clean component architecture.
    </p>
  </div>
</article>
