---
import { Image } from "astro:assets";
import bpsuLogo from "@/assets/bpsu.webp";
import SectionTitle from "@/components/section-title.astro";
---

<section class="flex flex-col spacing-md">
  <SectionTitle text="Education" />
  <article class="flex flex-col spacing-md">
    <div class="flex flex-col spacing-xs lg:flex-row lg:items-center">
      <Image
        width={160}
        src={bpsuLogo}
        draggable="false"
        loading="lazy"
        class="size-20 select-none border border-border object-cover"
        alt="Bataan Peninsula State University logo"
      />
      <div class="flex w-full flex-col padding-md">
        <section class="flex flex-col justify-between lg:flex-row">
          <h1 class="font-semibold text-primary">
            Bataan Peninsula State University - Main Campus
          </h1>
          <time class="text-primary">September 2021 – August 2025</time>
        </section>
        <section class="flex flex-col justify-between lg:flex-row">
          <h1>BS in Computer Science, Major in Software Development</h1>
          <address class="not-italic">Bataan, Philippines</address>
        </section>
      </div>
    </div>
    <p>
      As early as my first year, I developed a strong interest in software
      engineering; consequently, I took the initiative to be the lead developer
      on every academic project, eventually graduating with Latin honors and
      securing a developer role ahead of schedule.
    </p>
  </article>
</section>
