@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --regular: #8ABEAE;
  --highlight: #83FFC0;
  --muted: #8ABEAE20;
  --border: #8ABEAE50;
  --nav: #1B2226;
  --background: #13171d;
}

::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: var(--background); /* Dark track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--nav); /* Darker thumb background */
  border-radius: 10px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: 150s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted); /* Slightly lighter on hover */
}

img {
  user-select: none;
}

::selection {
  background-color: var(--muted);
}

body {
  color: var(--regular);
  background: var(--background);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}