@import 'tailwindcss';

@theme {
  --color-border: #8abeae50;
  --color-background: #13171d;
  --color-shadow: #080E12;
  --color-foreground: #8abeae;
  --color-highlight: #83ffc0;
  --color-muted: #8abeae20;
  --color-nav: #1b2226;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  @keyframes flip-back {
    0% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    opacity: 0.5;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-nav);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-muted);
  }

  img {
    user-select: none;
  }

  ::selection {
    background-color: var(--color-muted);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 2px var(--color-highlight);
  border-radius: 1.25rem;
}

.animate-flip {
  animation: flip 0.7s ease-in-out forwards;
}

.animate-flip-back {
  animation: flip-back 0.7s ease-in-out forwards;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
