---
import Footer from "@/components/footer.astro";
import About from "@/components/sections/about.astro";
import Education from "@/components/sections/education.astro";
import Experiences from "@/components/sections/experiences.astro";
import Layout from "@/layouts/layout.astro";

export const prerender = true;
---

<Layout title="About | Cyril James - Full-Stack Engineer">
  <div class="flex w-full max-w-4xl flex-col spacing-xl padding-md">
    <div class="flex justify-center padding-lg">
      <img
        src="/animated-quinch-logo.gif"
        width={150}
        height={150}
        decoding="async"
        class="logo-block__img select-none"
        alt="Animated logo"
        draggable={false}
      />
    </div>

    <About />
    <Experiences />
    <Education />
    <Footer />
  </div>
</Layout>
