---
import Footer from "@/components/Footer.astro";
import Projects from "@/components/sections/projects.astro";
import Skills from "@/components/sections/skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects | Cyril James - Full-Stack Engineer">
  <div class="page">
    <Projects />
    <Skills />
    <Footer />
  </div>
</Layout>
