---
import Footer from "@/components/footer.astro";
import Projects from "@/components/sections/projects.astro";
import Skills from "@/components/sections/skills.astro";
import Layout from "@/layouts/layout.astro";

export const prerender = true;
---

<Layout title="Projects | Cyril James - Full-Stack Engineer">
  <div class="flex w-full max-w-4xl flex-col spacing-xl padding-md">
    <Projects />
    <Skills />
    <Footer />
  </div>
</Layout>
