---
---

<footer
  class="flex w-full flex-col items-center justify-between spacing-xs padding-md text-xs text-foreground/70 lg:flex-row lg:text-sm"
>
  <p>Made with Astro</p>
  <p class="lg:text-end">© 2026 Cyril James</p>
</footer>
