html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic';
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: #202023;
  }
}

/* 
  Main section
*/

.main {
  display: flex;
  flex-direction: column;
  margin: 0rem 27rem;
}
.introduction-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10rem 0rem;
}
.hello {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.name {
  font-size: 3rem;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}
.job {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.quinch-pixel-profile {
  margin: 0rem 0rem 0rem 2rem;
}
.placeholder-section {
  min-height: 100vh;
  margin-top: 10rem;
  padding: 4rem 0;
  filter: drop-shadow(0px 0px 4px rgba(31, 140, 115, 0.734));
}
.wait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.dot {
  display: inline-block;
  animation: blink 1.2s infinite;
  opacity: 0;
}
.dot-1 {
  animation-delay: 2s;
}
.dot-2 {
  animation-delay: 1s;
}
.dot-3 {
  animation-delay: 0s;
}
@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  20%, 60% {
    opacity: 1;
  }
}
/* 
  Media query for mobile devices 
*/

@media screen and (max-width: 768px) {
  .main {
    margin: 2rem 1rem; /* Adjust margin for mobile devices */
  }
  .introduction-section {
    flex-direction: column; /* Change the flex direction to column */
    text-align: center; /* Center the text */
    margin: 4rem 0rem; /* Adjust margin for mobile devices */
  }
  .hello {
    font-size: 1rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .job {
    font-size: 1.25rem;
  }
  .quinch-pixel-profile {
    order: -1; /* Set the order to display the image before the introduction */
    margin: 0rem 0rem 2rem 0rem; /* Adjust margin to separate the image from the text */
    width: 100%; /* Make the image container take full width */
    max-width: 350px; /* Set a maximum width for the image container */
  }
}