.main {
  min-height: 100vh;
  padding: 4rem 0;

}
.footer {
  display: flex;
  font-family: 'bebas neue';
  font-weight: lighter;
  letter-spacing: 0.15rem;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
