.hamburgermenu {
    margin: 2rem;
    display: none;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.bartop,
.barmiddle,
.barbottom {
    height: 0.20rem;
    background: black;
    border-radius: 2rem;
    margin: 0.20rem 0;
    transform-origin: left;
    transition: all 0.25s;
}
.hamburgermenu:hover .bartop {
    transform: rotate(45deg);
}
.hamburgermenu:hover .barmiddle {
    transform: translateX(2rem);
    opacity: 0;
}
.hamburgermenu:hover .barbottom {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .hamburgermenu {
        display: flex;
    }
}