---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<p
  class="border border-border padding-xs text-xs animation-normal select-none hover:bg-muted"
  title={name}
>
  {name}
</p>
